<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingwei.dao.MeetingMapper">

    <!--public Meeting queryMeetingRecordByIndex(int index);-->
    <select id="queryMeetingRecordByIndex" resultType="com.jingwei.models.pojo.Meeting">
        select * from meetingrecord where `index` = #{para1}
    </select>

    
    <!--public List<Meeting> queryMeetingRecordsByUsername(String username);-->
<!--    <resultMap id="queryMeetingRecordsByUsernameMap" type="com.jingwei.models.pojo.Meeting">
        <id column="index" property="index"/>
        <result column="username" property="username"/>
        <result column="topic" property="topic"/>
        <result column="date" property="date"/>
        <result column="list" property="list"/>
        <result column="brief" property="brief"/>
        <result column="remark" property="remark"/>
        <result column="location" property="location"/>
    </resultMap>-->
    <select id="queryMeetingRecordsByUsername" resultType="com.jingwei.models.pojo.Meeting">
        select * from meetingrecord where username = #{username}
    </select>

    <!--public int insertNewMeetingRecord(Meeting meeting);-->
    <insert id="insertNewMeetingRecord" parameterType="com.jingwei.models.pojo.Meeting" useGeneratedKeys="true" keyProperty="index" keyColumn="index">
        insert into meetingrecord
            (`index`, topic, date, peoplelist, brief, remark, username, location)
             value
            (null, #{topic}, #{date}, #{list}, #{brief}, #{remark}, #{username}, #{location})
    </insert>
</mapper>