<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingwei.dao.UserMapper">

    <!--public void queryUserByName(String userName);-->
    <resultMap id="userMap" type="com.jingwei.models.pojo.User" autoMapping="false">
        <id property="name" column="username"/>
        <result property="password" column="userpassword"/>
        <result property="phoneNumber" column="userphonenumber"/>
        <result property="emailAddress" column="useremailaddress"/>
    </resultMap>

    <select id="queryUserByName" resultMap="userMap">
        select * from userinfo where username = #{para1}
    </select>

    <!--public int registerNewUser(User user);-->
    <!--也就是说，在查询传参时，如果参数是一个类，可以直接使用#{attrName}的方式来访问参数之中的同名变量-->
    <insert id="registerNewUser" parameterType="com.jingwei.models.pojo.User">
        insert into userinfo (username, userpassword, userphonenumber, useremailaddress) value (#{name}, #{password}, #{phoneNumber}, #{emailAddress})
    </insert>

    <!--public String queryPasswordByName(String userName);-->
    <select id="queryPasswordByName" resultType="java.lang.String">
        select userpassword from userinfo where username = #{para1}
    </select>

</mapper>