.mainblock{
  margin-right: -0.75rem;
  margin-left: -0.75rem;

  display:flex;
  flex-direction:row;
  justify-content: space-between;

  width:80vw;
  height:410px;
}

.bigblock{
  margin-right: 0.75rem;
  margin-left: 0.75rem;

  height:400px;
  flex-grow: 2;
}
.bigblocktitle{
  background-color: #f8f9fc;
  border-bottom: 2px solid #e3e6f0;
  font-weight: 900;

  height:50px;
  /*flex-grow: 3;*/
}
.canvasblock{
  height:300px;
}

.bigAudio{
  height:50px;
}

.positionblock{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  height:400px;
  flex-grow: 1;
}
.positionblocktitle{
  flex-grow: 1;
  height:50px;
  background-color: #f8f9fc;
  border-bottom: 2px solid #e3e6f0;
  font-weight: 900;
}
.positioncanvas{
  flex-grow: 1;
  height:320px;
  margin-top:15px;
}

.subAudio{

  margin-top: 2vh;
  margin-right: -0.75rem;
  margin-left: -0.75rem;

  display:flex;
  flex-direction:row;
  justify-content: space-between;;

  width:80vw;
  height:auto;
}

.subAudioAudio{
  flex-grow: 2;
  height: 100px;
}

.subAudioAudioTitle{
  display: flex;
  height: 50px;
}

.subAudioAudioTitleSrc{
  height: 50px;
  flex-grow: 8;
}

.subAudioAudioTitleBtn{
  height: 50px;
  flex-grow: 1;

  border-radius: 2px;

  background-color: #4e73df;
  color: #ffffff;

  float:right;
  display:inline;
  text-align:center;
  line-height: 50px;
}

.subAudioAudioPlayer{
  height: 50px;
}

.subAudioPlacehoder{
  flex-grow: 1;
  height: 100px;
}


.briefblock{
  margin-right: -0.75rem;
    margin-left: -0.75rem;

    display:flex;
    flex-direction:column;

    width:95vw;
    min-width:950px;
    height:auto;
}

.bbriefblock{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  margin-top: 5px;
  height:100px;
}
.bbriefblocktitle{
  height:50px;
}
.floatbutton{
  height:50px;
  width:4vw;
  min-width:40px;
  background-color: #4e73df;
  color: #ffffff;
  float:right;
  display:inline;
  text-align:center;
  line-height:50px;
}
.bbriefblockaudio{
  height:50px;
  width:42vw;
  min-width:420px;
}

.titlename{
   width:60px;
   height:40px;
   margin-top:5px;
}
.titlebutton{
  width:60px;
  height:40px;
  margin-top:5px;

  border-color: #4e73df;
  float: right;
}

